<p>passengers-details works!</p>
<h5>Already have an account?</h5>
<a routerLink="/log"><button>Login!</button></a>
<div class="passengerInfo">
  <h5>PASSENGER (ADULT)</h5>
  <input placeholder="FIRST NAME" type="text" />
  <input placeholder="FIRST NAME" type="text" />
  <input placeholder="E-MAIL ADDRESS" type="text" />
  <h5>CHECKED-IN BAGGAGE</h5>
  <h6>PLEASE SELECT</h6>
  <h5>CABIN BAGGAGE</h5>
  <h6>Free carry-on bag</h6>
  <p>
    40 x 30 x 20 cm <br />
    Included
  </p>
  <h5>FLIGHT FLex</h5>
  <h6>
    A helping hand for travel uncertainties (e.g. change of plans, unexpected
    events, COVID19)
  </h6>
</div>
