<body>
  <!-- <div class="wrapper">
  <label for="mail">E-Mail Address</label>
  <input id="mail" type="text" placeholder="e-mail" #email />
  <label for="passwort">Passwort</label>

  <input type="text" placeholder="Password" #password />
  <h5>Do not remember your password?</h5> -->
  <!-- TODO: add coditional routing routerLink="/passenger-details" -->
  <!-- MAT INPUT -->
  <div *ngIf="user == null; else isLogged">
    <h2>Login <span class="fat">airlab</span></h2>
    <mat-form-field appearance="outline">
      <mat-label>E-MAIL</mat-label>
      <input matInput #email />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>PASSWORD</mat-label>
      <input type="password" matInput #password />
    </mat-form-field>
    <!-- MAT INPUT -->
    <button mat-raised-button (click)="log(email, password)">
      LOG IN
    </button>

    <!-- </div> -->
    <div class="register">
      <h2>Do not have an account yet?</h2>
      <button mat-raised-button>
        Register - easy and fast
      </button>
    </div>
  </div>
  <ng-template #isLogged>
    <h2>Hi {{ userName }}! Nice to see you again.</h2>
    <button mat-raised-button (click)="logOut()">
      Logout
    </button>
  </ng-template>
</body>
<router-outlet> </router-outlet>
