<nav>
  <header class="header">
    <a class="logo" href="/"> FlyHigh</a
    ><input class="menu-btn" type="checkbox" id="menu-btn" /><label
      class="menu-icon"
      for="menu-btn"
      ><span class="navicon"></span
    ></label>
    <ul class="menu">
      <li><a href="#">Germany-EN</a></li>
      <li><a href="#">CONTACT US</a></li>
      <li>
        <a href="#">CART ({{ cart }})</a>
      </li>
      <li><a routerLink="/log">ACCOUNT</a></li>
    </ul>
  </header>
</nav>

<router-outlet></router-outlet>
