<h1>Wybór lotu</h1>

<div class="wrapper">
  <!-- //data wylotu -->
  <input
    type="date"
    (change)="setTime($event)"
    id="departureDate"
    min="{{ today }}"
  />
  <!-- data przylotu -->
  <input
    type="date"
    id="arrivalDate"
    min="{{ departureDate }}"
    (change)="setTime($event)"
  />
  <!-- " -->
  <!-- miejsce wylotu -->
  <!-- [(ngModel)]="choosenDeparture" -->
  <select
    name=""
    id=""
    (change)="changeDeparture($event)"
    value="Choose departure city"
  >
    <option [value]="city.key" *ngFor="let city of opts">
      {{ city.key }}
    </option>
  </select>
  <!-- miejsce przylotu -->
  <div *ngIf="arrivals">
    <select name="" id="" value="Choose departure city">
      <option [value]="city" *ngFor="let city of arrivals">
        {{ city }}
      </option>
    </select>
  </div>
  <!-- liczba pasażerów -->
  <a routerLink="/log"> <button (click)="saving()">Logowanie</button> </a>
</div>
<!-- <button (click)="counter()">Licznik</button> -->
<button routerLink="/summary" (click)="searchFlight()">Search</button>
<router-outlet> </router-outlet>
