path {
  fill: #3540a5;
}
svg {
  width: 40vw;
}
.seats {
  background-color: #3540a5;
}
h5 {
  color: white;
}
.booked {
  fill: white;
}
.flight-card {
  max-width: 40vw;
}

.header-card {
  background-color: rgb(209, 203, 203);
}
