<body>
  <div class="flights-info">
    <mat-card class="flight-card">
      <mat-card-header class="header-card">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> DEPARTING FLIGHT</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="departure">
          <i class="material-icons view_inline">flight_takeoff</i>
          <h3 class="view_inline">
            {{ bookingData.departureCity }}
            {{ bookingData.departureDate }} Departure Time:
            {{ bookingData.departureTime1 }}
          </h3>
          <!-- <h3>
            Departure: {{ bookingData.departureCity }}
            {{ bookingData.departureDate }} Departure Time:
            {{ bookingData.departureTime1 }}
          </h3> -->
        </div>
        <i class="material-icons view_inline">flight_land</i>

        <h3 class="view_inline">
          {{ bookingData.arrivalCity }} {{ bookingData.arrivalDate }} Departure
          Time: {{ bookingData.arrivalTime1 }}
        </h3>
        <br /><br /><br /><br />
        <h3>
          Price: {{ (bookingData.price[0] * selectedCurrency).toFixed(2) }}
          {{
            selectedCurrency == usd
              ? "$"
              : selectedCurrency == pln
              ? "PLN"
              : "€"
          }}
          /passenger
        </h3>
      </mat-card-content>
    </mat-card>
    <mat-card class="flight-card" *ngIf="bookingData.roundTrip === true">
      <mat-card-header class="header-card">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> RETURN FLIGHT</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="departure">
          <i class="material-icons view_inline">flight_takeoff</i>
          <h3 class="view_inline">
            {{ bookingData.arrivalCity }}
            {{ bookingData.arrivalDate }} Departure Time:
            {{ bookingData.departureTime2 }}
          </h3>
        </div>
        <i class="material-icons view_inline">flight_land</i>

        <h3 class="view_inline">
          {{ bookingData.departureCity }}
          {{ bookingData.arrivalDate }} Departure Time:
          {{ bookingData.arrivalTime2 }}
        </h3>
        <br /><br /><br /><br />

        <h3>
          Price: {{ (bookingData.price[1] * selectedCurrency).toFixed(2) }}
          {{
            selectedCurrency == usd
              ? "$"
              : selectedCurrency == pln
              ? "PLN"
              : "€"
          }}
          /passenger
        </h3>
      </mat-card-content>
    </mat-card>
  </div>
  <h2>
    Base price total:
    {{ (bookingData.basePrice * selectedCurrency).toFixed(2) }}
    {{ selectedCurrency == usd ? "$" : selectedCurrency == pln ? "PLN" : "€" }}
  </h2>

  <!-- //////////////EXTRAS START -->

  <h5>CHECKED-IN BAGGAGE</h5>
  <div class="option-cards-grid">
    <div class="option-cards">
      <mat-card
        class="example-card"
        (click)="chooseOption('basic')"
        [class.choosen]="option == 'basic'"
      >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>BASIC</mat-card-title>
          <mat-card-subtitle>TRAVEL LIGHT </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <ul>
            <li>
              Free carry-on bag (40 x 30 x 20 cm) in the cabin, placed under the
              seat
            </li>
            <li>Online check-in up to 2 days before departure</li>
            <li>
              Free seat selection.
            </li>
          </ul>
          <br /><br /><br /><br /><br /><br />
          <div class="extra-price">
            <h4>per passenger</h4>
            <button mat-button>
              {{ (extras.basic * selectedCurrency).toFixed(0) }}
              {{
                selectedCurrency == usd
                  ? "USD"
                  : selectedCurrency == pln
                  ? "PLN"
                  : "EUR"
              }}
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="option-cards">
      <mat-card
        class="example-card"
        (click)="chooseOption('plus')"
        [class.choosen]="option == 'plus'"
      >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>PLUS</mat-card-title>
          <mat-card-subtitle>PACK & SAVE</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <ul>
            <li>
              Free carry-on bag (40 x 30 x 20 cm) in the cabin, placed under the
              seat
            </li>

            <li>Trolley Bag (55 x 40 x 23 cm) in the cabin</li>
            <li>20 kg checked-in bag</li>
            <li>
              Free seat selection.
            </li>

            <li>Priority Boarding</li>
            <li>Priority check-in</li>
            <li>Online check-in up to 30 days before departure</li>
            <li>Free airport and online check-in</li>
          </ul>
          <br />

          <div class="extra-price">
            <h4>per passenger</h4>
            <button mat-button>
              +
              {{ (extras.plus * selectedCurrency).toFixed(0) }}
              {{
                selectedCurrency == usd
                  ? "USD"
                  : selectedCurrency == pln
                  ? "PLN"
                  : "EUR"
              }}
            </button>
          </div>
        </mat-card-content>
        <!-- per passenger -->
        <!-- <mat-card-actions>
          <button mat-button>
            +
            {{ (extras.plus * selectedCurrency).toFixed(0) }}
            {{
              selectedCurrency == usd
                ? "USD"
                : selectedCurrency == pln
                ? "PLN"
                : "EUR"
            }}
          </button>
        </mat-card-actions> -->
      </mat-card>
    </div>

    <div class="option-cards">
      <mat-card
        class="example-card"
        (click)="chooseOption('premium')"
        [class.choosen]="option == 'premium'"
      >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>PREMIIUM</mat-card-title>
          <mat-card-subtitle>ALL IN & FULL FLEX</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <ul>
            <li>
              Free carry-on bag (40 x 30 x 20 cm) in the cabin, placed under the
              seat
            </li>
            <li>Trolley Bag (55 x 40 x 23 cm) in the cabin</li>
            <li>32 kg checked-in bag</li>
            <li>
              Free seat selection.
            </li>

            <li>Priority Boarding</li>
            <li>Priority check-in</li>
            <li>Online check-in up to 30 days before departure</li>
            <li>Free airport and online check-in</li>
            <li>Auto check-in</li>
            <!-- <li>
              Flight Information
            </li>
            <li>Free drink & snack</li>
            <li>Flexible booking</li> -->
          </ul>
          <div class="extra-price">
            <h4>per passenger</h4>
            <button mat-button>
              +
              {{ (extras.premium * selectedCurrency).toFixed(0) }}
              {{
                selectedCurrency == usd
                  ? "USD"
                  : selectedCurrency == pln
                  ? "PLN"
                  : "EUR"
              }}
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <h5>FLIGHT FLex</h5>
  <h2>
    <!-- A helping hand for travel uncertainties (e.g. change of plans, unexpected
  events, COVID19) -->
    TOTAL:
  </h2>
  <div class="currency">
    <mat-form-field appearance="fill">
      <mat-label>EURO</mat-label>
      <mat-select [(ngModel)]="selectedCurrency">
        <mat-option id="raz" value="{{ usd }}">USD</mat-option>
        <mat-option id="dwa" value="{{ pln }}">PLN</mat-option>
        <mat-option id="trzy" value="{{ 1 }}">EUR</mat-option>
      </mat-select>
    </mat-form-field>
    <h2>{{ (selectedCurrency * totalPriceEUR).toFixed(2) }}</h2>
    <h2 *ngIf="selectedCurrency == null">{{ totalPriceEUR }}</h2>
  </div>
  <a [routerLink]="[option === 'basic' ? '/details' : '/choose-seats']"
    ><button mat-raised-button (click)="goToDetails()">
      Save and continue
    </button></a
  >
  <br /><br /><br />
</body>
