body {
  margin: 10px;
}
path {
  fill: #3540a5;
}
svg {
  width: 40vw;
}
.seats {
  background-color: #3540a5;
}
h5 {
  color: white;
}
.booked {
  fill: white;
}

.header-card {
  background-color: rgb(209, 203, 203);
}
.view_inline {
  display: inline;
  padding-top: 50px;
}
.departure {
  margin-top: 50px;
}
.choosen {
  background-color: #3540a5;
  color: white;
}
.option-cards mat-card:hover {
  top: -15px;
  box-shadow: 20px 20px 30px grey;
}

.flights-info {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  grid-gap: 20px;
}
.option-cards-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  grid-template-rows: auto-fill;
  grid-auto-flow: row;
  grid-gap: 10px;
}
.flights-info mat-card-header {
  border: 2px solid salmon;
  color: white;
  background-color: salmon;
  border-radius: 5px;
  margin-bottom: 30px;
}
.flights-info mat-card-title {
  margin-top: 5px;
}
.extra-price {
  align-items: flex-end;
}
:host /deep/ h4,
h3,
h2 {
  font-family: Lato;
}
.option-cards mat-card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.option-cards mat-card {
  box-sizing: border-box;
  height: 100%;
}
.currency {
  display: flex;
}

.currency h2 {
  display: inline;
  font-size: 2rem;
  margin: 10px 0 0 0;
}
